<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Resume Generator</title>

        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
    </head>

    <body>
        <div class="header">
           <h1>Make your Resume</h1>
        </div>
        <div class="main">
            <img style="width:790px; height:480px;padding-top:100px;padding-bottom:10px;" src="/static/resumegoogle.png"/>
            <form action="/" method="post">
                <input  class="check" type="checkbox" id="student" name="check" value="Student"> Student</input>

                <input class="check" style="margin-left:150px" type="checkbox" id="exp" name="check" value="Experienced"> Experienced</input>
                <br>



                <!-- cabeçalho do curriculo -->
                <input class="form" type="text" name="name" placeholder="Name "/><br>
                <input class="form" type="text" name="age" placeholder="Idade"/>
                <input class="form" type="text" name="email" placeholder="Email "/><br>
                <input class="form" type="text" name="phone" placeholder="Phone"/>
                <input class="form" type="text" name="job" placeholder="Titulo de trabalho"/>
                <input class="form" type="text" name="linkedin" placeholder="Linkedin"/>
                <input class="form" type="text" name="nacionalidade" placeholder="Nacionalidade"/>
                <input class="form" type="text" name="city" placeholder="Cidade"/>
                <!-- cabeçalho do curriculo -->

                <!--main section-->
                <input class="form" id="objetivo" type="textarea" name="objetivo" placeholder="Objetivo"/>


                <br><br>
                <h2>Experiência Profissional</h2><br><br>
                <input class="form"  type="text" name="cargo" placeholder="Cargo"/>
                <input class="form"  type="text" name="company" placeholder="Empresa"/>
                <input class="form"  type="text" name="start" placeholder="Começo"/>
                <input class="form"  type="text" name="end" placeholder="Fim"/>
                <input class="form"  type="text" name="description" placeholder="Descrição"/>
                <hr>
                <input class="form"  type="text" name="cargo1" placeholder="Cargo"/>
                <input class="form"  type="text" name="company1" placeholder="Empresa"/>
                <input class="form"  type="text" name="start1" placeholder="Começo"/>
                <input class="form"  type="text" name="end1" placeholder="Fim"/>
                <input class="form"  type="text" name="description1" placeholder="Descrição"/>
                <hr>
                <input class="form"  type="text" name="cargo2" placeholder="Cargo"/>
                <input class="form"  type="text" name="company2" placeholder="Empresa"/>
                <input class="form"  type="text" name="start2" placeholder="Começo"/>
                <input class="form"  type="text" name="end2" placeholder="Fim"/>
                <input class="form"  type="text" name="description2" placeholder="Descrição"/>
                <hr>
                <input class="form"  type="text" name="cargo3" placeholder="Cargo"/>
                <input class="form"  type="text" name="company3" placeholder="Empresa"/>
                <input class="form"  type="text" name="start3" placeholder="Começo"/>
                <input class="form"  type="text" name="end3" placeholder="Fim"/>
                <input class="form"  type="text" name="description3" placeholder="Descrição"/>
                <hr>


                <br><br>
                <h2>Habilidades</h2>
                                <br><br>
                <input class="form"  type="text" name="skill" placeholder="habilidade"/>
                <input class="form"  type="text" name="skill1" placeholder="habilidade"/>
                <input class="form"  type="text" name="skill2" placeholder="habilidade"/>
                <input class="form"  type="text" name="skill3" placeholder="habilidade"/>
                <input class="form"  type="text" name="skill4" placeholder="habilidade"/>
                <input class="form"  type="text" name="skill5" placeholder="habilidade"/>
                <input class="form"  type="text" name="skill6" placeholder="habilidade"/>
                <input class="form"  type="text" name="skill7" placeholder="habilidade"/>
                <input class="form"  type="text" name="skill8" placeholder="habilidade"/>
                <input class="form"  type="text" name="skill9" placeholder="habilidade"/>
                <hr>



                <br><br>
                <h2>Educação</h2>
                <input class="form"  type="text" name="university" placeholder="Instituição"/>
                <input class="form"  type="text" name="degree" placeholder="Curso"/>
                <input class="form"  type="text" name="desc" placeholder="Descrição"/>
                <hr>
               <input class="form"  type="text" name="university1" placeholder="Instituição"/>
                <input class="form"  type="text" name="degree1" placeholder="Curso"/>
                <input class="form"  type="text" name="desc1" placeholder="Descrição"/>
                <hr>
                <input class="form"  type="text" name="university2" placeholder="Instituição"/>
                <input class="form"  type="text" name="degree2" placeholder="Curso"/>
                <input class="form"  type="text" name="desc2" placeholder="Descrição"/>
                <hr>



                <br>
                <input class="form" id="button" type="submit"  name="submit" placeholder="Submit"/>
            </form>
        </div>
        <script>

        </script>
    </body>
</html>