{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="portfolio">
        <tr>
            <th>Symbol</th><th>Name</th><th>Shares</th><th>Price</th><th>TOTAL</th>
        </tr>
        {% for row in table %}
        {% if row["shares"] > 0 %}
        <tr>
            <td>{{ row["symbol"] }}</td><td>{{ row["name"] }}</td><td>{{ row["shares"] }}</td><td>{{ row["price"] }}</td><td>{{ row["total"] }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr>
            <td><b>CASH</b></td><td></td><td></td><td></td><td>{{ money }}</td>
        </tr>

    </table>
{% endblock %}